<script lang="ts" context="module">
	/** @type {import('@sveltejs/kit').Load} */
	export function load({ error, status }) {
		return {
			props: {
				title: `${status}: ${error.message}`
			}
		};
	}
</script>

<script lang="ts">
	import { goto } from '$app/navigation';

	import { onMount } from 'svelte';

	export let title: string;
	onMount(async () => {
		goto(`/not-found`);
	});
</script>

<h1>{title}</h1>
