<script lang="ts"></script>

<slot />

<style>
	:global(body) {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif !important;
		overflow-x: hidden;
		background-color: #F6F8FA;
	}
	:global(html){
		scroll-behavior: smooth;
	}
</style>
