<script lang="ts">
	import Search from '$lib/components/search.svelte';
	import BubbleEffect from '$lib/shared/components/bubble-effect.svelte';

	$: height = 0;
</script>

<section bind:clientHeight={height}>
	<div>
		<i class="devicon-github-original" />
		<hgroup>
			<h2>FIND YOUR GITHUB PROFILE!!!</h2>
		</hgroup>
		<Search />
	</div>
	<BubbleEffect />
</section>

<style>
	i {
		font-size: 100px;
		margin-bottom: 5px;
	}
	hgroup {
		text-align: center;
		margin-bottom: 2em;
	}
	h2 {
		font-weight: 700;
	}
	div {
		position: relative;
		top: -50px;
	}
	section {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		background-color: #040d21;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;

		overflow-y: hidden;
	}
	* {
		margin: 0;
		padding: 0;
		color: white;
	}
</style>
