<script lang="ts">
	import { reqGetUsers } from '$lib/service';
	import { toNormalTime } from '$lib/utils';

	const getUser = async (user: string) => await reqGetUsers(user);
</script>


<section>
	<i class="devicon-github-original" />
	<h4>Oh no! Something went wrong. Try again later!</h4>
	{#await getUser(' ') then {header}}
		<span>REQUESTS LEFT: {header.limit} / {header.remaining}</span>
		{#if !header.remaining}
			<div>
				<p>You have exceeded the maximum requests allowed</p>
				<p>You can make more requests from {toNormalTime((parseInt(header.time || '0')) * 1000)}</p>
			</div>
		{/if}
	{/await}
	<a role="button" class="btn btn-success" href="/">Go home</a>
</section>

<style>
	a{
		margin-top: 5px;
		padding: 5px;
	}
	p{
		text-align: center;
	}
	i{
		font-size: 80px;
	}
	span {
		font-size: 20px;
	}
	section {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		background-color: #040d21;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	* {
		margin: 0;
		padding: 0;
		color: white;
	}
</style>
