<script lang="ts">
	import type { PetitionRes, UserInfo } from '../../interface';
	import UserDescription from './user-description.svelte';
	import RequestCounter from '../request-counter.svelte';
	import Search from '../search.svelte';
	import BubbleEffect from '$lib/shared/components/bubble-effect.svelte';

	export let userPetitionRes: PetitionRes;

	const { header, response } = userPetitionRes;
	const userInformation: UserInfo = response;

	$: height = 0;
</script>

<section bind:clientHeight={height}>
	<div>
		<RequestCounter {header} />
		<Search />
	</div>
	<UserDescription {userInformation} />
	<BubbleEffect />
</section>

<style>
	div {
		display: flex;
		justify-content: space-between;
		margin: 15px 25px 0;
		position: relative;
		z-index: 1;
	}
	section {
		background-color: #040d21;
		padding: 5px 0 150px 0;
		margin: -8px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>
