<script lang="ts">
	import type { UserInfo } from '../../interface';
	import { toNormalDate } from '../../utils';

	export let userInformation: UserInfo;
	const {
		avatar_url,
		name,
		html_url,
		company,
		created_at,
		followers,
		following,
		location,
		login,
		public_repos
	} = userInformation;
</script>

<section>
	<div>
		<img src={avatar_url} alt="" />
	</div>
	<div class="username-container">
		<h2>{name || login}</h2>
		<a href={html_url} target="_blank" rel="noopener noreferrer">@{login}</a>
	</div>
	<div class="user-info-container">
		<span><i class="bi bi-briefcase-fill" /> {company || 'No company'}</span>
		<span><i class="bi bi-geo-fill" /> {location || 'No location'}</span>
		<span><i class="bi bi-calendar-week-fill" /> {toNormalDate(created_at)}</span>
	</div>
	<div class="user-profile-container">
		<div class="user-profile">
			<span class="num">{followers}</span>
			<span>FOLLOWERS</span>
		</div>
		<div class="user-profile">
			<span class="num">{following}</span>
			<span>FOLLOWING</span>
		</div>
		<div class="user-profile">
			<span class="num">{public_repos}</span>
			<span>REPOSITORIES</span>
		</div>
	</div>
</section>

<style>
	* {
		color: white;
		text-align: center;
	}
	section {
		margin-top: 2em;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	img {
		height: 160px;
		width: 160px;

		background-repeat: no-repeat;
		background-position: fixed;
		border-radius: 100%;
		background-size: cover;
		border: 4px solid #8bcaff;
	}

	.username-container {
		margin-bottom: 1em;
	}
	span {
		margin: 0 1rem 0.5rem;
	}
	h2 {
		font-size: 40px;
	}
	a {
		font-size: 25px;
	}
	i {
		font-size: 25px;
		margin: 0 0.5rem;
	}
	.user-profile-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 2em;
	}
	.user-info-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.user-profile {
		display: flex;
		flex-direction: column;
		background-color: #042861;
		margin: 1rem 1rem 0 1rem;
		padding: 1rem;
		border-radius: 10px;
		border: 2px solid #8bcaff;
	}
	.num {
		font-size: 25px;
	}

	@media (max-width: 574px) {
		.user-profile {
			margin: 0.2rem 0.2rem 0 0.2rem;
			padding: 0.2rem;
		}
		h2{
			font-size: 30px;
		}
	}
	
</style>
