<script lang="ts">
	let coordinates = {x : 0, y: 0}
	const handleMousemove = (event: MouseEventInit) => {
		coordinates.x = event.clientX || 0,
		coordinates.y = event.clientY || 0
	};
</script>

<div on:mousemove={handleMousemove}>
	<div
		style="transform: translate3d({coordinates.x / 50}px,{coordinates.y / 50}px,0px);"
		class="circle circle-blue"
	/>
	<div
		style="transform: translate3d({coordinates.y / 50}px,{coordinates.x / 50}px,0px);"
		class="circle circle-purple"
	/>
	<div
		style="transform: translate3d({coordinates.x / 50}px,{coordinates.y / 50}px,0px);"
		class="circle circle-orange"
	/>
	<slot />
</div>

<style>
	.circle.circle-blue {
		background: #042861;
		width: 35vw;
		height: 35vw;
		top: -20%;
		right: -25vw;
	}

	.circle.circle-purple {
		background: #042b68;
		width: 20vw;
		height: 20vw;
		top: 45%;
		right: -10vw;
	}

	.circle.circle-orange {
		background: #042b68;
		width: 30vw;
		height: 30vw;
		right: 85%;
		bottom: 75%;
	}

	.circle {
		position: absolute;
		border-radius: 100%;
		filter: blur(50px);
		z-index: 0;
		/* opacity: 0.4; */
	}
</style>
