<script lang="ts">
	import { icons } from '../../data';
</script>

<div class="bubble">
	{#each icons as { icon }}
		<span style="bottom:{50}px">{@html icon}</span>
	{/each}
</div>

<style>
	@keyframes flotar {
		to {
			margin-top: 10vh;
		}
	}

	.bubble span {
		border-radius: 100%;
		position: absolute;
		animation: bubbleanimation 4s linear infinite;
        font-size: 40px;
	}

	.bubble span:nth-child(1) {
		width: 50px;
		height: 45px;
		left: 40px;
		animation-duration: 4s;
	}

	.bubble span:nth-child(2) {
		width: 60px;
		height: 55px;
		left: 25%;
		animation-duration: 8s;
	}

	.bubble span:nth-child(3) {
		width: 30px;
		height: 27px;
		left: 40%;
		animation-duration: 5s;
	}

	.bubble span:nth-child(4) {
		width: 65px;
		height: 60px;
		left: 50%;
		animation-duration: 10s;
	}

	.bubble span:nth-child(5) {
		width: 55px;
		height: 50px;
		left: 65%;
		animation-duration: 6.5s;
	}

	.bubble span:nth-child(6) {
		width: 50px;
		height: 48px;
		left: 85%;
		animation-duration: 9s;
	}

	.bubble span:nth-child(7) {
		width: 35px;
		height: 32px;
		left: 90%;
		animation-duration: 6s;
	}

	@keyframes bubbleanimation {
		0% {
			width: 0;
			height: 0;
			opacity: 0;
		}
		3% {
			width: 30px;
			height: 27px;
			opacity: 1;
		}
		50% {
			margin-left: 20px;
			opacity: 0.5;
		}
		100% {
			transform: rotate(90deg);
			bottom: 100vh;
			opacity: 0;
		}
	}
</style>
