<div>
	<slot />
</div>

<style>
	div {
		border: 1px solid #040d2133;	
		border-radius: 10px;
		transition: transform .4s;
	}
	div:hover{
		transform: scale(1.03);
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	}
</style>
