<script lang="ts">
	import { onMount } from 'svelte/internal';
	import { langColor } from '../../data';
	// import Chart from 'chart.js/auto';

	export let values;
	export let type;
	export let graphicTitle;
	export let top;
	export let bg;

	let ctx: any;
	let top5: any = {};
	let backgroundColor;
	let labels;
	let dataValues;

	//Graphic config
	if (top) {
		Object.entries(values)
			.sort((a: Array<any>, b: Array<any>) => b[1] - a[1])
			.slice(0, 5)
			.forEach((e) => (top5[e[0]] = e[1]));

		backgroundColor = [
			'rgba(255, 99, 132)',
			'rgba(54, 162, 235)',
			'rgba(255, 206, 86)',
			'rgba(75, 192, 192)',
			'rgba(153, 102, 255)',
			'rgba(255, 159, 64)'
		];

		labels = Object.keys(top5);
		dataValues = Object.values(top5);
	} else {
		labels = Object.keys(values);
		dataValues = Object.values(values);
		backgroundColor = [...labels].map((e: string) => langColor[e]);
	}

	const data = {
		labels: labels,
		datasets: [
			{
				label: graphicTitle,
				backgroundColor: backgroundColor,
				borderColor: bg,
				borderWidth: 1,
				data: dataValues
			}
		]
	};

	const config: any = {
		type: type,
		data: data,
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	};

	onMount(async () => {
		new Chart(ctx, config);
	});
</script>

<div>
	<canvas id="myChart" bind:this={ctx} />
</div>


<style>
	div{
		display: flex;
		justify-content: center;
	}
	canvas{
		max-width: 745px;
		max-height: 437.6px;
	}
</style>
