<script lang="ts">
	import type { RepoInfo, PetitionRes } from '../../interface';
	import { repositories as storeRepo } from '../../store/index';
	import RepoOrderBy from './repo-order-by.svelte';
	import ShowRepos from './show-repos.svelte';

	export let userReposPetitionRes : PetitionRes;
	const {response} = userReposPetitionRes;
	
	const repositories : [RepoInfo] = response;
	$storeRepo = repositories;
</script>

<section class="container">
	<RepoOrderBy />
	<ShowRepos />
</section>

