<script lang="ts">
    import { repositories } from '../../store/index';
	import { onMount } from 'svelte';

	let selected: any;

	const reOrder = () => $repositories = $repositories.sort((a: any, b: any) => b[selected] - a[selected]);
	onMount(async () => reOrder());
</script>

<div>
	<h2>REPOSITORIES</h2>
	<select class="form-select" bind:value={selected} on:change={reOrder}>
		<option value="stargazers_count">stars</option>
		<option value="forks_count">forks</option>
		<option value="size">size</option>
	</select>
</div>

<style>
    div{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    h2{
        text-align: center;
        margin-top: 1em;
        font-weight: 600;
    }
    select{
        width: 15%;
        color: #042861;
    }
    @media(max-width : 997px){
        select{ width: 100%;}
    }
</style>
