<script class="lang">
	import { langColor } from '../../data';
	import Card from '../../shared/components/card.svelte';
	import { repositories } from '../../store/index';
</script>

<section>
	{#each $repositories as {html_url, name, description, language,size,stargazers_count,forks_count}}
		<Card>
			<a href="{html_url}" target="_blank" rel="noopener noreferrer">
				<div>
					<h5>{name}</h5>
					<p>{description || 'No description'}</p>
				</div>
				<div class="bg" style=" background-color: {langColor[language || 'Others']}8b;">
					<div>
						<span style="background-color: {langColor[language || 'Others']}" />{language ||
							'Other'}
					</div>
					<div><i class="bi bi-star" /> {stargazers_count}</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
							<path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"/>
						</svg>
						{forks_count}
					</div>
					<div>{size} KB</div>
				</div>
			</a>
        </Card>
	{/each}
</section>

<style>
	section {
		margin-top: 1em;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1rem;
	}

	span{
        display:inline-block;
        width: 15px;
        height: 15px;
        margin-right: 0.3em;
        border-radius: 160px;
    }

	a{
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;
		transition: 0.2s;
		padding: 20px;
		text-decoration: none;
		color: black;
	}
	
	
    p {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
    .bg{
        margin: 0 -20px -20px -20px;
        border-radius: 0 0 10px 10px;
        padding: 10px 0 10px 20px;
    }
</style>
