<footer>
    <div>
        <a class="repo" href="https://gitlab.com/Bangal22/github-profile/" target="_blank" rel="noopener noreferrer">
            <i class="devicon-gitlab-plain colored"></i>
        </a>
    </div>
	<div>
        <span>Built with: </span>
        <span>
            <a href="https://kit.svelte.dev" target="_blank" rel="noopener noreferrer">SvelteKit</a>
        </span>
        <span>
            <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener norefeRepository/rrer">TypeScript</a>
        </span>
        <span>
            <a href="https://getbootstrap.com/">Bootstrap</a>
        </span>
        <span>
            <a href="https://vitejs.dev/" target="_blank" rel="noopener noreferrer">Vite</a>
        </span>
    </div>
</footer>

<style>
    footer{
        padding: 1em;
    }
    .repo{
       text-decoration: none; 
        margin-top: 1em;
    }
    i{
        font-size: 45px;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    span{
        margin:0 0 0 1em;
    }
    a{
        font-weight: 600;
    }
</style>
