<script lang="ts">
	import { page } from '$app/stores';
	import { reqGetUsers, reqGetRepos } from '../service/index';

	import UserGraphics from './user-graphics/index.svelte';
	import UserInfo from './user-info/index.svelte';
	import UserRepo from './user-repo/index.svelte';
	import Footer from '../../components/footer.svelte';

	import Loader from '../shared/components/loader.svelte';
	import { goto } from '$app/navigation';

	$: username = $page.url.searchParams.get('username') || '';

	const getUser = async (user: string) => await reqGetUsers(user);
	const getRepos = async (user: string) => await reqGetRepos(user);
</script>

<div>
	{#await getUser(username)}
		<Loader />
	{:then res}
		{#if !res.status} {goto(`/not-found`)} {/if}
		{#if res.status} <UserInfo userPetitionRes={res} /> {/if}
	{/await}

	{#await getRepos(username) then res}
		{#if res.status}
			<UserGraphics reposPetitionRes={res} />
			<UserRepo userReposPetitionRes={res} />
			<Footer />
		{/if}
	{/await}
</div>

