<script lang="ts">
	import type { Header } from '$lib/interface';
	export let header: Header;

	const { limit, remaining } = header;
</script>


<div class="row">
    <span>REQUESTS LEFT</span>
    <div>{limit}/{remaining}</div>
</div>


<style>
    *{
        color: white;
    }
    span{
        font-size: 10px;
    }
</style>
