<script lang="ts">
	import { goto } from '$app/navigation';
	import { user } from '$lib/store/index';

	const handleSubmit = () => goto(`/users?username=${$user}`);
</script>

<form on:submit|preventDefault={handleSubmit} method="get">
	<input
		bind:value={$user}
		name="username"
		type="search"
		class="form-control rounded"
		placeholder="Search"
		aria-label="Search"
		aria-describedby="search-addon"
	/>
	<button class="btn btn-success">Search</button>
</form>

<style>
	form{
		display: flex;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}
	button{
		margin-left: 0.5em;
	}
	input {
		background-color: rgba(46, 55, 74, 0.82) !important;
		color: white;
	}
	input:focus {
		color: white;
	}
</style>
