<script lang="ts">
    export let buttonClass : string;
    export let slide : string;
    export let control : string;
</script>

<button
	class="{buttonClass}"
	type="button"
	data-bs-target="#carouselExampleControls"
	data-bs-slide="{slide}"
>
	<span class="{control}" aria-hidden="true" />
	<span class="visually-hidden">Next</span>
</button>

<style>
    span{
        color: black;
        filter: invert(100%);
    }
    @media(max-width:576px){
		span{
			display: none;
		}
	}
</style>
