<script lang="ts">
	import ChartGraphic from '../../shared/components/chart-graphic.svelte';
	import { graphics } from '../../data';
	import type { PetitionRes, RepoInfo } from '../../interface';
	import GraphicsButtons from './graphics-buttons.svelte';


	export let reposPetitionRes : PetitionRes;

	const {response} = reposPetitionRes;
	const languages: any = {};
	const getRepoInformarion = ({ language }: RepoInfo) => {
		if (language == null) language = 'Others';
		language in languages ? languages[language]++ : (languages[language] = 1);
	};
	response.forEach(getRepoInformarion);
</script>

<section class="container">
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			{#each graphics as { title, type, graphicTitle, top, bg }, index}
				<div class="carousel-item {!index ? 'active' : ''}">
					<h2>{title}</h2>
					<ChartGraphic values={languages} {type} {graphicTitle} {top} {bg} />
				</div>
			{/each}
		</div>
		<GraphicsButtons buttonClass={"carousel-control-next"} slide={"next"} control={"carousel-control-next-icon"} />
		<GraphicsButtons buttonClass={"carousel-control-prev"} slide={"prev"} control={"carousel-control-prev-icon"} />
	</div>
</section>

<style>
	h2 {
		text-align: center;
		font-weight: 600;
		margin-bottom: 0.5em;
	}
	.carousel {
		margin-top: 3em;
	}
</style>
