<script lang="ts">
	import ChartGraphic from '../../shared/components/chart-graphic.svelte';
	import { graphics } from '../../data';
	import type { PetitionRes, RepoInfo } from '../../interface';

	export let reposPetitionRes : PetitionRes;

	const {response} = reposPetitionRes;
	
	//Should have a typeed
	const languages: any = {};

	const getRepoInformarion = ({ language }: RepoInfo) => {
		if (language == null) language = 'Others';
		language in languages ? languages[language]++ : (languages[language] = 1);
	};

	response.forEach(getRepoInformarion);
</script>

<section class="container">
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			{#each graphics as { title, type, graphicTitle, top, bg }, index}
				<div class="carousel-item {!index ? 'active' : ''}">
					<h2>{title}</h2>
					<ChartGraphic values={languages} {type} {graphicTitle} {top} {bg} />
				</div>
			{/each}
		</div>
		<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#carouselExampleControls"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true" />
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#carouselExampleControls"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true" />
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</section>

<style>
	h2 {
		text-align: center;
		font-weight: 600;
		margin-bottom: 0.5em;
	}

	span {
		background-color: black;
	}

	.carousel {
		margin-top: 3em;
	}

	@media(max-width:576px){
		span{
			background-color: transparent;
		}
	}
</style>
